$bg_color: #F6E11C;
$fonts: 'Hiragino Kaku Gothic Std';
$font_color: #009900;
$link_color: #990000;
$link_hover_color: #000099;

*, *:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.list {
  font-family: $fonts;
  background-color: $bg_color;
  position: relative;
  color: $font_color;
  text-align: center;
  padding: 10px 0;
  a, a:visited {
    color: $link_color;
    text-decoration: none;
  }
  a:hover {
    color: $link_hover_color;
  }
}

.recipeList {
  border: solid 3px #009900;
  margin-left: auto;
  margin-right: auto;
  tr {
    border: solid 1px #009900;
    height: 50px;
    td {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

.btn {
  display: inline-block;
  margin: 30px 25px;
  padding: 10px 15px;
  cursor: pointer;
}
.btn:hover {
  color: $link_hover_color
}
.elem {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 150px;
  margin: auto 10px;
  vertical-align: center;
  background-color: #8585e5;
  span {
    display: block;
    padding: 45% 10px 10px;
  }
}

