<h1>検索結果</h1>

<div class="dangoMaterialContainer">
  <div id="dangoStick" class="dangoStick"></div>

  <div class="dangoContainer">
    <div id="dango-one" class="dango one">
      <span>料理１</span>
    </div>
    <div id="dango-two" class="dango two">
      <span>料理２</span>
    </div>
    <div id="dango-three" class="dango three">
      <span>料理３</span>
    </div>
  </div>
</div>

<div>
  <button type="button" id="btn" class="btn">Go Animation!</button>
</div>
