<h1>だんご三兄弟</h1>

<h3>レシピ紹介</h3>
<div>
  <%= @title %> のTOP20品
</div>

<br />

<div>
  <table class="recipeList">
    <% for num in 0..99 do %>
    <tr>
      <td><%= @menu_other[num] %></td>
    </tr>
    <% end %>
  </table>
</div>

<br />

<div id="elem-one" class="elem one">
  <span>KUTE</span>
</div>

<div>
  <button type="button" id="btn" class="btn">START</button>
</div>

